@import "node_modules/bootstrap/scss/bootstrap";

.home-container {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 64px;
        padding: 16px;
        background-color: $blue;
        color: $white;
    }

    .infinite-scroll {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        padding: 16px;
    }
}
